<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zadania</title>
        <!--<link rel="stylesheet" href="/styles/main.css">-->
    </head>
    <body>
        <%- include('../partials/header') %>

        <main>
            <% if(tasks.length === 0) { %>
                <p>Brak Notatek do wyświetlenia</p>
            <% } else { %>
                <ul>
                    <% tasks.forEach(task => { %>
                        <li>
                            <h2><%= task.title %></h2>
                            <p><%= task.content %></p>
                            <p>Status: <%= task.status %></p>
                            <a href="/edit/<%= task._id %>">Edytuj</a>
                            <form action="/delete/<%= task._id %>" method="POST" style="display:inline;">
                                <button type="submit">Usuń</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>