<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= recipe.title %></title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <%- include('../partials/header') %>

        <main>
            <h2><%= recipe.title %></h2>
            <p><%= recipe.description %></p>
            <p>Instrukcje Przygotowania: <%= recipe.instructions %></p>
            <a href="/edit/<%= recipe._id %>">Edytuj</a>
            <form action="/delete/<%= recipe._id %>" method="POST" style="display:inline;">
                <button type="submit">Usuń</button>
            </form><br><br>
            <a href="/">Powrót do listy przepisów</a>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>